body{
    margin: 0;
}

#root{
    display: flex;
    height: 100%;
    width: 100%;
}

#input{
    flex: 3;
    background-color: aliceblue;
    border-right: 2px solid black;
}

#output{
    flex: 5;
    border-left: 2px solid black;
    padding: 10px;
}

#form-input{
    margin: 10px;
}

#form-input > h3{
    display: inline-block;
}

#form-input > textarea{
    resize: none;
}

#form-input > button{
    width: 100%;
    margin-top: 18px;
    border-radius: 12px;
    letter-spacing: 2px;
    padding: 7px;
    background: #1E1E3F;
    color: white;
    cursor: pointer;
}

.level{
    margin: 70px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.node{
    width: 80px;
    height: 80px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    z-index: 100;
    position: relative;
}

.node > h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}